.home {
    background-image: url('../../images/w_parku_b.jpg');
    background-position: center;
    background-size: cover;
    .head {
        padding-top: 50px;
        padding-bottom: 16px;
    }
}
