.nav {
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    .link {
        color: rgb(38, 38, 38);
        background-color: rgba($color: #ffffff, $alpha: 0.3);
        background-clip: border-box;
        padding-top: 5px;
        border-radius: unset;
        border-top: 3px transparent solid;
        transition: border-top 0.5s ease-in-out;
        &:hover {
            border-top: 3px red solid;
        }
    }
}
.scroll {
    color: red!important;
}