.nav {
    margin-top: 5px;
    
    .link {
        color: rgb(38, 38, 38);
        background-color: rgba($color: #ffffff, $alpha: 0.3);
        background-clip: border-box;
        padding-top: 5px;
        border-radius: unset;
        border-top: 3px transparent solid;
        transition: border-top 0.5s ease-in-out;
        &:hover {
            border-top: 3px red solid;
        }
    }
}

/* // export default; */